{% extends 'base.html' %}

{% block content %}
  <br>
  <h3>{{ date }}</h3>
  {% for record in records %}
    <div>
      title: <a href="{% url 'book_detail' pk=record.book.pk %}">{{ record.book.title }}</a><br>
      {% if record.start_date %}
        start date: {{record.start_date}}<br>
      {% endif %}
      {% if record.read_page_count %}
        {{ record.read_page_count }} pages<br>
      {% endif %}
      {% if record.read_word_count %}
        {{ record.read_word_count }} words<br>
      {% endif %}
    </div><br>
  {% endfor %}
{% endblock content %}